* {
  margin: 0;
  list-style: none;
}
nav ul{
  display : flex;
  justify-content: space-between;
}
nav ul li {
  display: flex;
  justify-items: center;
}
nav img {
  height: 10vh;
}
.title {
  display: flex;
  justify-content: center;
  margin-right: 40vw;
  font-size: 7vh ;
  color: red;
  margin-top: 2vh;
  font-weight: bold;
}
