<main>
  <div id='map'></div>

  <form>
    <div class="donneesTrajet">
      <div id="choixRecherche">
<!--       TODO  Pk pas de value ?-->
        <input type="radio" id="rechercheTrajet" name="rechercheTrajet" checked>
        <label for="rechercheTrajet">Trouver un itinéraire</label>

        <input type="radio" id="recherchePosition" name="recherchePosition">
        <label for="recherchePosition">Recherche simple</label>
      </div>

      <div id="choixTrajet">
        <input type="radio" id="trajetAPied" name="trajetAPied" value="trajetAPied" checked>
        <label for="trajetAPied">A pied</label>

        <input type="radio" id="trajetAVelo" name="trajetAVelo" value="trajetAVelo">
        <label for="trajetAVelo">A vélo</label>
      </div>

      <div class="rechercheDepart">
        <div id="rechercheDepart"></div>
        <button id="buttonSetStartingPosition" type="button" title="Définir la position de depart sur ma position">
          <img src="./assets/positionLogo.png" alt="logoGeolocalisation">
        </button>
      </div>

      <div class="rechercheDestination">
        <div id="rechercheDestination"></div>
        <button id="buttonSetEndingPosition" type="button" title="Définir la position de destination sur ma position">
          <img src="./assets/positionLogo.png" alt="logoGeolocalisation">
        </button>
      </div>

      <div *ngIf=isPositionOk id="confirmationAjoutPosition">je confirme</div>

      <div id='tempsTrajet'></div>
    </div>

    <div id='instructionsTrajet'></div>
  </form>
</main>
