<main>
  <div id='map'></div>

  <form>
    <div class="donneesTrajet">
      <div id="typeRecherche">
        <input type="radio" id="trajet" name="trajet" checked>
        <label for="trajet">Trouver un itinéraire</label>

        <input type="radio" id="recherche" name="trajet">
        <label for="recherche">Recherche simple</label>
      </div>

      <div id="choixTypeTrajet">
        <input type="radio" id="walk" name="choix" value="walk" checked>
        <label for="walk">A pied</label>

        <input type="radio" id="bike" name="choix" value="bike">
        <label for="bike">A vélo</label>
      </div>

      <div class="rechercheDepart">
        <div id="rechercheDepart" class="geocoder"></div>
        <button id="buttonStart" type="button" title="Definir la position de depart sur ma position">
          <img src="./assets/positionLogo.png">
        </button>
      </div>

      <div class="rechercheDestination">
        <div id="rechercheDestination" class="geocoderDest"></div>
        <button id="buttonEnd" type="button" title="Definir la position de destination sur ma position">
          <img src="./assets/positionLogo.png">
        </button>
      </div>

      <div id="confirmationAjoutPosition"></div>

      <div id='resultatTempsTrajet'></div>
    </div>
    <div class="resultatTrajet">

      <div id='instructionsTrajet'></div>
    </div>
  </form>
</main>
