main {
  display: flex;
  flex-direction: row-reverse;
}
#map {
  height: 95%;
  width: 45%;
  position: absolute;
  left: 8px;
}
form {
  margin-top: 1em;
  display: flex;
}
.donneesTrajet {
  margin-top: 2em;
}
#typeRecherche {
  margin-bottom: 0.5em;
}
.rechercheDepart {
  display: flex;
  margin-top: 2em;
  margin-bottom: 2em;
}
.rechercheDepart button {
  height: 3em;
  background: none;
  border: none;
}
.rechercheDepart button img{
  height: 3em;
}
.rechercheDestination {
  display: flex;
}
.rechercheDestination button {
  height: 3em;
  background: none;
  border: none;
}
.rechercheDestination button img{
  height: 3em;
}
.resultatTrajet {
  margin-right: 5em;
  margin-left: 5em;
}
#instructionsTrajet {
  margin-top: 2em;
  height: 30em;
  width: 20em;
  overflow-y: auto;
}
#resultatTempsTrajet {
  margin-top: 2em;
  height: 3.5em;
  width: 15em;
  overflow-y: auto;
}
/*
.geocoder {
  width: 50%;
  left: 47%;
  top: 13em;
}

.geocoderDest {
  width: 50%;
  left: 47%;
  top: 16em;
}


#choixTypeTrajet {
  top: 11em;
  left: 44.5em;
  font-weight: bold;
}

#typeRecherche {
  top: 9em;
  left: 44.5em;
  font-weight: bold;
}

.positionButton {
  display: flex;
  flex-direction: column;
  top: 12.7em;
  left: 61em;
}

.positionButton input {
  height: 3.5em;
}
*/
