<main>
  <div id='map'></div>

  <form>
    <div class="donneesTrajet">
      <div id="choixRecherche">
        <input type="radio" id="rechercheTrajet" name="typeRecherche" value="rechercheTrajet" checked>
        <label for="rechercheTrajet">Trouver un itinéraire</label>

        <input type="radio" id="recherchePosition" name="typeRecherche" value="recherchePosition">
        <label for="recherchePosition">Recherche simple</label>
      </div>

      <div id="choixTrajet">
        <input type="radio" id="trajetAPied" name="typeTrajet" value="trajetAPied" checked>
        <label for="trajetAPied">A pied</label>

        <input type="radio" id="trajetAVelo" name="typeTrajet" value="trajetAVelo">
        <label for="trajetAVelo">A vélo</label>
      </div>

      <div class="rechercheDepart">
        <div id="rechercheDepart"></div>
        <button id="boutonDefinirPositionDepart" type="button"
                title="Définir la position de depart sur ma position"
                (click)="this.setCoordsOfStartToPosition(this.map, this.geolocalisation)">
          <img src="./assets/positionLogo.png" alt="logoGeolocalisation">
        </button>
      </div>

      <div class="rechercheDestination">
        <div id="rechercheDestination"></div>
        <button id="boutonDefinirPositionDestination" type="button"
                title="Définir la position de destination sur ma position"
                (click)="this.setCoordsOfEndToPosition(this.map, this.geolocalisation)">
          <img src="./assets/positionLogo.png" alt="logoGeolocalisation">
        </button>
      </div>

      <div class="findVelov">
        <button id="trouverVelov" type="button"
                title="Trouver la station de Velov la plus proche"
                (click)="this.affichageTrajetStationLaPlusProche(this.map)">Trouver un Velov</button>
      </div>

      <div *ngIf=isPositionOk id="confirmationAjoutPosition">Votre position a bien été prise en compte</div>

      <div *ngIf="afficherDureeTrajet" id='tempsTrajet'>la durée du trajet est de {{returnDureeTrajet()}} minutes</div>
    </div>
    <div id='instructionsTrajet'>{{returnInstructionTrajet()}}</div>
  </form>
</main>
