main {
  display: flex;
  flex-direction: row-reverse;
}

#map {
  height: 95%;
  width: 45%;
  position: absolute;
  left: 8px;
  top: 10em;
}

form {
  margin-top: 1em;
  display: flex;
}

.donneesTrajet {
  margin-top: 2em;
}

#typeRecherche {
  margin-bottom: 0.5em;
}

.recherche {
  display: flex;
  align-items: center;
}

.findVelov button {
  height: 2em;
  margin-top: 1em;
}

#instructionsTrajet {
  margin-right: 5em;
  margin-left: 5em;
  margin-top: 2em;
  height: 30em;
  width: 20em;
  overflow-y: auto;
}

#tempsTrajet {
  margin-top: 1em;
  height: 3.5em;
  width: 15em;
  overflow-y: auto;
  font-weight: bolder;
}

#confirmationAjoutPosition {
  margin-top: 1em;
  height: 4.5em;
  width: 15em;
  overflow-y: auto;
}
